@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:wght@700&family=Martel+Sans:wght@600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@700&family=Prata&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
